/* Main Content Section */
    .mainContent .col-6{
        border-radius: 8px;
        border: 1px solid rgb(205, 205, 205);
        position: relative;
        height: 205px;
        padding: 10px;
        cursor: pointer;
    }
    .digitalFrame{
        position: relative;
        top: 35px;
        left: 35px;
        width: 180px;
    }
    .microsoftFrame{
        position: relative;
        top: 55px;
        left: 15px;
        width: 225px;
    }
    .autodeskFrame{
        position: relative;
        top: 55px;
        left: 10px;
        width: 235px;
    }
    .mainContent .col-6 p{
        position: absolute;
        bottom: 10px;
        left: 75px;
        color: #bebebe;
        font-size: 13px;
        font-family: visby-bold;
        transition: all .2s ease-in;
    }
    .mainContent .col-6:hover p{
        color: rgb(47, 47, 47);
        text-decoration: underline;
    }