/* Common Style Section */
body{
    color: #888888;
    font-family: 'Montserrat', sans-serif;
}
img{
    width: 100%;
}
/* Topbar Section */
#topBar{
    background: #F5F5F5;
}
#topBar ul{
    padding: 6px;
}
#topBar li{
    display: inline-block;
    padding: 7px;
    font-size: 18px;
    transition: all 0.4s;
}
#topBar li a{
    font-size: 18px;
    color: #888888;
    transition: 0.4s;
}
#topBar a:hover{
    color: #e45642;    
}
#topBar .col-4:nth-child(2){
    text-align: center;
}
#topBar .col-4:nth-child(3){
    text-align: right;
}
#topBar p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 15px;
    display: inline-block;
}
#topBar select{
    color: #888888;
    border-style: none;
    background: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}
#topBar option{
    background: #E65540;
    font-size: 13px;
    color: white;
}
/* Header Section */
header{
    position: sticky;
    z-index: 10;
    top: 0;
    background: #fff;
}
.headerImgFrame{
    width: 120px;
}
header .col-6{
    text-align: center;
}
header .col-6> ul> li:nth-child(3)> a{
    color: #e65540;
}
header .navBar li:hover h1{
    border-bottom: 1px solid #333333;
}
header .navBar a{
    color: #333333;    
}
header .navBar>li{
    padding: 20px 10px;
    display: inline-block;
    font-size: 15px;
}
header .navBar li h1{
    padding-bottom: 3px;
    border-bottom: 1px solid #FFFFFF; 
    transition: all .4s;  
}
    /* Homepage Section */
    .homepage{
        position: absolute;
        top: 40px;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
        margin-top: 20px;
    }
    .homepage li{
        width: 185px;
        padding: 17px;
        background: #222222;
        color: white;
        transition: .4s;
    }
    .navBar > li:first-child:hover .homepage{
        visibility: visible;
        opacity: 1;
    }
    .homepage li a{
        transition: all .4s;
        background: #222222;
        color: white;
    }
    .homepage li:hover a{
        color: #e65540;    
    }
    /* Profile Section */
    .profile{
        text-align: right;
    }
    .profile li{
        display: inline-block;
        padding: 10px;
    }
    .line{
        position: relative;
        top: 5px;
        background: lightgray;
        width: 1px;
        height: 15px;
        box-sizing: border-box; 
    }
    .profile li button{
        position: relative;
    }
    .profile li button p{
        font-family: 'Montserrat', sans-serif;
        background: #000;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        padding: 2px;
        text-align: center;
        position: absolute;
        top: -8px;
        right: -10px;    
        color: white;
    }
    .profileOverlay{
        position: absolute;
        top: 60px;
        right: 10px;
        height: 0px;
        width: 0px;
        background: #FFFFFF;
        transition: all .4s;
        padding: 10px;
        visibility: hidden;
        opacity: 0;
    }
    .profile li button:focus+.profileOverlay{
        height: 410px;
        width: 340px;
        background: #FFFFFF;
        visibility: visible;
        opacity: 1;
    }
    .profile button{
        border-style: none;
        background: transparent;
    }/* Profile Overlay */
    .profile .profileOverlay ul{
        height: 77%;
    }
    .profile .profileOverlay li{
        text-align: left;
        height: 26%;
        padding: 0;
        margin: 3% 0;
        width: 100%;
    }
    .profileOverlayItem{
        float: left;
        width: 25%;
        height: 99%;
        overflow: hidden;
        margin-right: 10px;
        position: relative;
        transition: all .4s;
    }
    .profileOverlayItem:hover img:last-child{
        opacity: .5;
    }
    .profileOverlayItem img:first-child{
        position: absolute;
    }
    .profileOverlayItem img:last-child{
        position: absolute;
        transition: all .4s;
        opacity: 0;
    }
    .profile .profileOverlay li h3{
        font-size: 15px;
        padding: 5px;
        line-height: 20px;
        color: #333333;
        transition: all .4s;
    }
    .profile .profileOverlay li p{
        font-size: 12px;
        color: #888888;
        margin: 15px 0;
    }
    .profileOverlayPrice p{
        font-size: 15px;
        color: #555555;
        margin: 18px 0;   
    }
    .profileOverlay button{
        background: #111111;
        border-radius: 25px;
        padding: 12px 30px;
        text-transform: uppercase;
        font-size: 15px;
        margin: 0 10px;
        transition: all .4s;
    }
    .profileOverlay button a:link{
        color: #ffffff;
    }
    .profileOverlay button a{
        color: #ffffff;
    }
    .profileOverlay button:hover{
        background: #e45642;
    }
    .profile .profileOverlay li h3:hover{
        color: #e45642;
    }
/* Slider Section */
#slider{
    height: 240px;
    background: url(../img/about/aboutBg.jpg);
    text-align: center;
    margin-bottom: 50px;
}
#slider h1{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    margin-top: 70px;
}
#slider p{
    font-size: 18px;
    color: #FFFFFF;
    text-transform: capitalize;
}
/* Content Section */
#content{
    margin-bottom: 50px;
}
.imgFrame{
    height: 455px;
    overflow: hidden;
}
.imgFrame img{
    transition: all .4s;
}
.imgFrame:hover img{
    transform: scale(1.1);
}
.aboutText{
    padding: 20px;
}
.aboutText h1{
    font-size: 25px;
    color: #333333;
    margin-bottom: 20px;
}
.aboutText p{
    font-size: 15px;
    color: #888888;
    line-height: 25px;
    margin-bottom: 20px;
}
.cite .line{
    float: left;
    background: #dbdbdb;
    width: 3px;
    margin: 0 10px;
    margin-right: 20px;
    height: 115px;
}
.cite p{
    font-size: 15px;
    color: #888888;
}
.cite h3{
    color: #555555;
}
/* Footer Section */
footer{
    background: #F0F0F0;
}
footer [class^=col-]{
    padding: 30px;
}
footer .col-3 li{
    display: inline-block;
    padding: 7px;
    color: gray;
    font-size: 18px;
    transition: all 0.4s;
}
footer .col-3 li a{
    color: gray;
    font-size: 18px;
    transition: all 0.4s;
}
footer .col-3 h3{
    font-size: 15px;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;   
}
footer .col-3 p{
    margin: 30px 0;
    font-size: 13px;
    color: #555555;
    line-height: 25px;    
}
footer .col-3 li a:hover{
    color: #e45642;    
}
.footerCategories ul h3{
    font-size: 15px;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;    
}
.footerCategories li{
    font-size: 13px;
    color: #222222;
    margin: 25px 0;
    text-transform: capitalize;
}
.footerCategories li a{
    color: #222222;
    transition: all .4s; 
}
footer a:hover{
    color: #e45642;    
}
footer .newsletter a{
    background: #212529;
    border-style: none;
    font-size: 16px;
    border-radius: 25px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 15px 40px;
    transition: all .4s;
}
footer input{
    margin: 15px 0;
    margin-bottom: 30px;
    width: 300px;
    border-style: none;
    background: transparent;
    font-size: 15px;
    font-weight: 300;
    height: 30px;
    color: #555555;
    letter-spacing: 1px;    
    border-bottom: 1px solid lightgray;
}
footer .newsletter a:hover{
    color: #ffffff;
    background: #e45642;
}
footer .col-12{
    text-align: center;
}
footer  .col-12 li{
    width: 35px;
    display: inline-block;
}
footer  .col-12 img{
    width: 100%;
}
footer .col-12 p{
    margin: 20px 0;
    font-size: 13px;
    color: #888888;    
}
footer .col-12 p a{
    color: black;    
    text-decoration: none;
    transition: all .4s;    
}
footer .col-12 p a:hover{
    text-decoration: underline;
    color: #E65540; 
}